.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  height: 450px;
  width: 300px;
}

.card-image {
  height: 250px;
}

.card-image img {
  height: 100%;
  width: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px 18px;
}

.person-name {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

.card-subinfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.person-email-group,
.person-phone-group,
.person-website-group {
  display: flex;
  align-items: center;
  align-content: center;
  color: #000000a6;
  font-size: 16px;
  letter-spacing: 0.03rem;
  gap: 6px;
}

.person-email-icon,
.person-phone-icon,
.person-website-icon {
  display: flex;
  align-items: center;
  align-content: center;
}

.card-action {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  background-color: #fafafa;
  border-top: 1px solid #e8e8e8;
}

.favourite-card-icon,
.edit-card-icon,
.delete-card-icon {
  font-size: 20px;
  cursor: pointer;
}

.favourite-card-icon {
  color: red;
}

.edit-card-icon {
  color: #3498db;
}

.delete-card-icon {
  color: #e74c3c;
}
